---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
  .slice(0,SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Hi, I'm Mário Coxe <span class="text-xl">👋🏻</span> 
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            Sou um programador full stack com experiência em Angular, React, Next.js e Vue.js, 
            desenvolvendo interfaces modernas, responsivas e dinâmicas. No backend, trabalho 
            com AdonisJS, Express e Laravel, criando APIs escaláveis, seguras e bem estruturadas.
          </p>
          <p class="animate">
            Além do desenvolvimento web, tenho experiência no desenvolvimento de aplicações móveis 
            utilizando React Native, criando soluções eficientes e otimizadas para Android e iOS. 
            Também possuo conhecimentos básicos em redes de computadores, incluindo endereçamento IP, 
            protocolos de comunicação (TCP/IP, HTTP, HTTPS), configuração de routers e switches, DNS, 
            DHCP e segurança de redes.
          </p>
          <p class="animate">
            Acredito em código bem estruturado, otimização de desempenho e acessibilidade. 
            Os meus projetos são desenvolvidos com foco em eficiência, boas práticas e experiência do usuário. 
            Para mais detalhes sobre o meu trabalho, visita o meu repositório no
            <Link href="https://github.com/Mario-Coxe" aria-label="Meu GitHub" external>
              Meu GitHub
            </Link>.
          </p>
        </article>
      </section>
      


      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Experiência Profissional
          </h5>
          <Link href="/work">
            Ver todas as experiências
          </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {work.map(entry => (
            <li>
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.role}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))}
        </ul>
      </section>
      

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest posts
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>

      

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects">
            See all projects
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section> -->

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Vamos Conectar-nos
        </h5>
        <article>
          <p>
            Se quiseres entrar em contacto comigo para falar sobre algo ou simplesmente dizer olá, 
            podes encontrar-me nas redes sociais ou enviar-me um email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} no ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email para ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
      
    </div>
  </Container>
</PageLayout>
